.TodoItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
    border: 2px solid rgb(26, 143, 143);
    /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.459); */
    margin-bottom: 12px;
}

.complete {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 10px;
}

.delete {
    color: red;
    font-weight: bold;
    margin-right: 10px;
}

.delete:hover {
    color: rgb(26, 143, 143);
}

p {
    text-align: center;
}


/* triggers */

.parraph--active {
    text-decoration: line-through;
}

.complete--active {
    color: green;
}